h1, h2, h3, h4, h5, h6 {
    color: inherit;
}
.abcdef {
    color: lightgreen;
}
.box-shadow-dark {
    box-shadow: 0 1px 2px -2px rgba(255, 255, 255, 0.16), 0 3px 6px 0 rgba(255, 255, 255, 0.12), 0 5px 12px 4px rgba(255, 255, 255, 0.09);
}
.box-shadow-dark-on-hover :hover {
    box-shadow: 0 1px 2px -2px rgba(255, 255, 255, 0.16), 0 3px 6px 0 rgba(255, 255, 255, 0.12), 0 5px 12px 4px rgba(255, 255, 255, 0.09);
}
.box-shadow-light {
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}
.box-shadow-light-on-hover :hover {
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.post-body table { 
	width: auto; 
	border-collapse: collapse; 
	margin:50px auto;
  overflow-x: scroll;

	}


/* Zebra striping */
.post-body tr:nth-of-type(even) { 
	background: #eee; 
  color:#000;
	}


  .post-body th { 
	background: #EF4444; 
	color: white; 
	font-weight: bold; 
	}


  .post-body td, .post-body th { 
	padding: 10px; 
	border: 1px solid #6B7280; 
	text-align: left; 
	font-size: 1rem;
	}

  .post-body tbody:first-of-type tr:first-child  { 
    background: #EF4444; 
    color: white; 
    font-weight: bold; 
    }


.post-body blockquote{
  font-size: 1.2rem;
  width: auto;
  max-width: 720px;
  margin:50px auto;
  font-style:italic;
  color: #777777;
  padding:1.2rem 3rem 1.2rem 75px;
  border-left:8px solid #EF4444 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.post-body blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#EF4444;
  font-size:4rem;
  position: absolute;
  left: 10px;
  top:-10px;
}

.post-body blockquote::after{
  font-family:Arial;
  content: "â€";
  color:#EF4444;
  font-size:4rem;
  position: absolute;
  right: 20px;
  top:-10px;
}

.post-body blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.post-body hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-body div {
  display: block ruby;
}

.ant-comment-content-author-name {
  color:inherit;
  opacity: 0.85;
}

.ant-comment-actions > li {
  color:inherit;
  opacity: 0.85;
}
.ant-comment-actions > li > span {
  color:inherit;
  opacity: 0.85;
}